.Title {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: baseline;
    padding: 1em;
    margin-bottom: 2em;
    background-color: rgb(47, 8, 55);
    color: rgb(195, 186, 186)!important;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
  }
